/*@include respond-to($phone)
 * background-color: rgba(#2ecc71, .5)
 * @include respond-to($tablet-portrait)
 * background-color: rgba(#3498db, .5)
 * @include respond-to($tablet-landscape)
 * background-color: rgba(#9b59b6, .5) */
body {
  background-color: #2B2B2B; }

#SVGRoot {
  width: 40px; }

.nav-link {
  display: block;
  color: #b0ffb0 !important; }

.current {
  color: #7ecd7e !important; }

.current::after {
  content: "<";
  width: 10;
  margin-left: 5px; }

nav a {
  font-family: Orbitron, sans-serif; }

.opener {
  padding-top: 57px;
  background-image: url(../images/websitehexbgv02.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px; }

.name {
  margin-bottom: 35px;
  font-size: 250%; }

.name, .author {
  display: inline-block;
  color: #b0ffb0;
  background: linear-gradient(rgba(50, 205, 50, 0), rgba(30, 123, 30, 0.2), rgba(50, 205, 50, 0));
  border-radius: 100%; }

h1, .ptr-r, .ptr-l {
  position: relative;
  display: inline-block;
  color: #dadada;
  font-family: Orbitron, sans-serif; }

.ptr {
  color: #262626; }

h2 {
  color: #A8A8A8;
  font-family: Orbitron, sans-serif; }

h3 {
  font-family: Orbitron, sans-serif;
  color: #A8A8A8;
  font-size: 150%; }

p {
  color: #A8A8A8;
  max-width: 80%;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  font-size: 115%; }

.cta {
  font-family: Orbitron, sans-serif;
  display: inline-block;
  color: #b0ffb0;
  text-decoration: underline;
  background: linear-gradient(rgba(50, 205, 50, 0), rgba(30, 123, 30, 0.2), rgba(50, 205, 50, 0));
  border-radius: 100%; }
  .cta h3 {
    color: #b0ffb0; }

.cta:hover, .cta:active {
  color: #b0ffb0;
  text-decoration: underline; }

.ptr-l {
  text-align: center; }

.ptr-r {
  text-align: center; }

.hookh1 {
  color: #b0ffb0;
  font-size: 200%; }

.hookh2 {
  font-size: 160%;
  margin-top: 15px;
  margin-bottom: 10px; }

.hookp {
  margin-bottom: 15px; }

.closer {
  margin-top: 15px;
  border-top: 2px solid #b0ffb0;
  background-color: #3f3f3f; }

.card {
  border: none !important; }

.card-block {
  background: #3f3f3f; }

.card-title {
  color: #b0ffb0;
  margin-top: 15px;
  text-align: center; }

@media only screen and (min-width: 768px) and (max-width: 979px) {
  #SVGRoot {
    width: 50px; }

  .opener {
    padding-top: 100px; }

  .name {
    margin-bottom: 97px; }

  .cta {
    margin-top: 50px; } }
@media only screen and (min-width: 768px) {
  #SVGRoot {
    width: 60px; }

  .opener {
    padding-top: 100px; } }
@media only screen and (min-width: 980px) {
  #SVGRoot {
    width: 80px; }

  .opener {
    height: 900px;
    padding-top: 100px;
    background-position: 50% 100%; }

  .name {
    margin-bottom: 157px; }

  .cta {
    margin-top: 250px; }

  .ptr-l {
    text-align: right; }

  .ptr-r {
    text-align: left; }

  .hookh1 {
    font-size: 200%; }

  .hookh2 {
    font-size: 160%;
    margin-top: 35px;
    margin-bottom: 30px; }

  .hookp {
    margin-bottom: 15px; }

  .closer {
    margin-top: 35px; } }

/*# sourceMappingURL=master.css.map */
